.button {
  padding: 8px 16px;
  color: var(--white);
  height: 40px;
  box-shadow: unset;

  &:disabled {
    background: var(--gray-300);
    color: var(--gray-600);
    border: unset;
  }
}

.ant-btn-link {
  color: var(--primary);
}