.aside {
    li.ant-menu-item {
        border-radius: 4px;
        height: 48px;
    }

    &-header {
        height: 80px;
        width: 100%;
        color: var(--white);
        display: flex;
        align-items: center;
        justify-content: center;
    }
}