$Black: #000;
$White: #fff;

$Primary: #F7FB6F;
$Primary300: #FAFDAA;
$Primary500: #F2F92F;

$Positive: #3AD98A;
$Negative: #EA2E4E;

$Neutral100: #F1F2F3;
$Neutral200: #DADBE7;
$Neutral300: #80818E;
$Neutral400: #5B5C67;
$Neutral500: #42434D;
$Neutral600: #2C2D35;
$Neutral700: #24252D;
$Neutral800: #1D1E26;
$Neutral900: #181920