$Black: #000;
$White: #fff;

$Primary: #005993;
$Blue100: #CBE6FE;
$Blue200: #8FD7F6;
$Blue300: #4DA7D2;
$Blue400: #338DC0;
$Blue500: #1A73AB;
$Blue700: #004E83;
$Blue800: #004472;
$Blue900: #003961;
$Blue1000: #062A46;

$Green: #4CB944;
$Green100: #A6F984;
$Green200: #91F173;
$Green300: #7EE764;
$Green400: #6BDA57;
$Green500: #5ACB4C;
$Green700: #41A43A;
$Green800: #368E30;
$Green900: #2C7826;
$Green1000: #22611E;

$Red: #EA114E;
$Red100: #FFE6E8;
$Red200: #FFB8C2;
$Red300: #FF8A9F;
$Red400: #FF5C7F;
$Red500: #EE2E63;
$Red700: #C31143;
$Red800: #AF103D;
$Red900: #9B0F36;
$Red1000: #870E30;

$Gray100: #FFFFFF;
$Gray200: #F4F8FB;
$Gray300: #F2F6F9;
$Gray400: #EAF3FD;
$Gray500: #C9D9EA;
$Gray600: #9EB3C9;
$Gray700: #8294A2;
$Gray800: #697F90;
$Gray900: #4B6477;
$Gray1000: #000000