:root {
    --white: #fff;
    --black: #000;

    --primary: #005993;
    --blue-100: #CBE6FE;
    --blue-200: #8FD7F6;
    --blue-300: #4DA7D2;
    --blue-400: #338DC0;
    --blue-500: #1A73AB;
    --blue-700: #004E83;
    --blue-800: #004472;
    --blue-900: #003961;
    --blue-1000: #062A46;

    --green: #4CB944;
    --green-100: #A6F984;
    --green-200: #91F173;
    --green-300: #7EE764;
    --green-400: #6BDA57;
    --green-500: #5ACB4C;
    --green-700: #41A43A;
    --green-800: #368E30;
    --green-900: #2C7826;
    --green-1000: #22611E;

    --red: #EA114E;
    --red-100: #FFE6E8;
    --red-200: #FFB8C2;
    --red-300: #FF8A9F;
    --red-400: #FF5C7F;
    --red-500: #EE2E63;
    --red-700: #C31143;
    --red-800: #AF103D;
    --red-900: #9B0F36;
    --red-1000: #870E30;

    --gray-100: #FFFFFF;
    --gray-200: #F4F8FB;
    --gray-300: #F2F6F9;
    --gray-400: #EAF3FD;
    --gray-500: #C9D9EA;
    --gray-600: #9EB3C9;
    --gray-700: #8294A2;
    --gray-800: #697F90;
    --gray-900: #4B6477;
    --gray-1000: #000000 
}