a {
  color: var($neutral700);
  text-decoration: none;
}

h1 {
  font-weight: 900;
}

h2, h3, h4, h5 {
  font-weight: 700;
}

h1, h2, h3, h4, h5 {
  color: var($neutral700);
}

* {
  box-sizing: border-box;
}